style.css

body{
    background: url(https://s3-alpha-sig.figma.com/img/d07f/abbe/fcdf5b78766276423911c4d7f49ec42c?Expires=1644192000&Signature=h4BHa6CWK6J78Lxr8Y-oLQhv5mjnvTWCnjHjZ-gsFGBOHnotciVAXvHJiemeyeZDijSJA6T4TdoOVL~TfhkgY3hBz4p~J07cBpkjpwq-DiNLQKqcd2~nGGJlb-rckmQ93-kxiJx3Q68Zsf6XLI3rxlq~~JnCwr3Kzk7oAvv9fmeclPSCF9SZ8Hpr~fa37nVYny-v6T8rHIMP72y8yT4OsFOI9PVrCs2kRaN-rkd6njmZtr0MGiUS7vvQa~CVygB6FhJvKVbLTFRHay1FBHJgeCwch6238eH6ndCWTtUWqu2-cn4~7RbMdCv0YzDLooI8cTmQ9HFnE94CamUZg-TO5g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        background: linear-gradient(180deg, #FFFFFF 14.1%, rgba(255, 255, 255, 0) 92.75%);
    
    }

    h1{
        color: #27AE60;
        font-size: 30px;
    }